<article>
    <button @click="goBack">Back</button>
    <h3 class="article-title">
        {{article.title}}
    </h3>
    <div class="article-content">
        <p>{{article.text}}</p>
    </div>
    <div class="article-details">
        <div class="article-details-item">Author: <span class="article-details-value">{{article.author}}</span></div>
        <div class="article-details-item">Category: <span class="article-details-value">{{article.category}}</span>
        </div>
    </div>

    <div class="comments">
        <h3 class="comments-title">Comments:</h3>
        <div class="comments-list">
            <div class="comments-list-item" v-for="comment in article.comments" v-if="article.comments.length">
                <p class="comments-list-item-author">{{comment.author}}</p>
                <p class="comments-list-item-content">{{comment.text}}</p>
            </div>
        </div>
    </div>
    <div>
        <add-comment-form v-on:add-comment="saveArticle"></add-comment-form>
    </div>
</article>
