<section class="article-list">
    <div class="filters">
        <select v-model="selectedOption">
            <option selected value="">Please select category</option>
            <option :value="option" v-for="option in options">{{option}}</option>
        </select>
        <div>
            <input v-model.trim="textFilter" type="text" placeholder="Filter by articles title">
        </div>
    </div>
    <article-item v-for="article in filteredArticles" :article="article"></article-item>
</section>
